.buttonset {
  display:  flex;
  width: 100%;
}

.buttonset Button {
  border-radius:  0;
}

.buttonset Button:first-of-type {
  border-radius: var(--size-border-radius) 0 0 var(--size-border-radius);
}

.buttonset Button:last-of-type {
  border-radius: 0 var(--size-border-radius) var(--size-border-radius) 0;
}