.dropdown-menu {
  position: relative;
}

.dropdown-menu_toggler {
    position: relative;
    width: 100%;
    box-sizing:border-box;
    text-align: left;
    padding: var(--spacing-xs) var(--spacing-sm);
    border: 1px solid var(--col-border);
    border-radius: var(--border-radius);
    cursor: pointer;
    padding-right: var(--spacing-md);
    height: fit-content;
    font-size: var(--font-size-sm);
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 20;
    background-color: var(--col-background);
  }

  .dropdown-menu_toggler:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px var(--col-interactive-01);
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .dropdown-menu_toggler.Open {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border-bottom: none;
    height: fit-content;
  }

  .dropdown-menu #undefined-toggler {
    outline: 5px solid var(--col-error-60);
  }

  .dropdown-menu #undefined-toggler:after {
    color: var(--col-error-70);
    font-weight: 700;
    content: "Component needs an ID.";
    display: block;
    position: relative;
    transform: none;
    border: none;
    height: fit-content;
    width: 250px;
  }

  .dropdown-menu_panel {
    position: absolute;
    top: var(--spacing-md);
    width: 100%;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    border: 1px solid var(--col-border);
    border-top: none;
    background-color: var(--col-background);
    background-color: var(--col-background);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.125);
    position: absolute;
    z-index: 10;  
  }

  .dropdown-menu_itemlist {
    padding: 0;
    margin: 0;
    margin-top: var(--spacing-sm);
    display: flex;
    flex-direction: column;
    list-style: none outside none;
    background-color: var(--col-backgorund);
  }

  .dropdown-menu_itemlist button,
  .dropdown-menu_itemlist a {
    font-family: var(--font-typeface-text);
    font-size: var(--font-size-sm);
    color: var(--col-text);
    cursor: pointer;
    cursor: hand;
    padding: var(--spacing-xs) var(--spacing-sm);
    background-color: var(--col-background);
    background-color: var(--col-background);
    transition: 0.25s ease-in background-color,
                0.25s ease-in color;
    letter-spacing: 0.03rem;
    border-radius: 0;
    border: none;
    display: flex;
    align-items: center;
    line-height: var(--font-lineheight-body);
    width: 100%;
  }
  .dropdown-menu_itemlist a {
    text-decoration: none;
  }

  .dropdown-menu_itemlist button:focus,
  .dropdown-menu_itemlist button:hover,
  .dropdown-menu_itemlist button:active {
    transition: 0.25s ease-in background-color,
                0.25s ease-in color;
    background-color: var(--col-shade-1);
    outline: none;
  }

  .dropdown-menu_itemlist button.Warning {
    transition: 0.25s ease-in-out background-color,
                0.25s ease-in-out color;
    color: var(--col-accent-dark);
  }

  .dropdown-menu_itemlist button.Warning:hover,
  .dropdown-menu_itemlist button.Warning:focus {
    transition: 0.25s ease-in-out background-color,
                0.25s ease-in-out color;
    color: var(--col-background);
    background-color: var(--col-accent-dark);
  }

   .dropdown-menu_itemlist button:disabled {
    transition: 0.25s ease-in-out background-color,
                0.25s ease-in-out color;
    color: var(--col-disabled);
  }

  .dropdown-menu_itemlist button:disabled {
    transition: 0.25s ease-in-out background-color,
                0.25s ease-in-out color;
    color: var(--col-disabled);
  }

  .dropdown-menu_itemlist button:disabled,
  .dropdown-menu_itemlist button:disabled:hover,
  .dropdown-menu_itemlist button:disabled:focus {
    transition: 0.25s ease-in-out background-color,
                0.25s ease-in-out color;
    background-color: var(--col-background);
    cursor: not-allowed;
    color: var(--col-disabled);
  }

  .dropdown-menu_itemlist :not(button) {
    color: var(--col-text-inverse);
    text-decoration: line-through;
    background-color: var(--col-error-70);
  }

  .dropdown-menu_panel.Opened {
    opacity: 1;
    overflow: auto;
    height: auto;
    margin-top: var(--spacing-md);
    max-height: 20rem;
    overflow-y: scroll;
    box-sizing: border-box;
    transition: 0.33s ease-in-out height,
                0.33s ease-in-out opacity;
  }

.dropdown-menu_panel.Closed {
    overflow: hidden;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    border: 1px solid transparent;
    transition: 0.25s ease-in-out opacity,
                0.25s ease-in-out height;
  }

  .dropdown-menu_itemlist button.Warning:hover,
  .dropdown-menu_itemlist button.Warning:focus {
    transition: 0.25s ease-in-out background-color,
                0.25s ease-in-out color;
    color: var(--col-text-inverse);
    background-color: var(--col-error-70);
  }

  .dropdown-menu_itemlist button.Warning {
    transition: 0.25s ease-in-out background-color,
                0.25s ease-in-out color;
    color: var(--col-error-70);
  }

  .dropdown-menu_itemlist button.Primary:hover,
  .dropdown-menu_itemlist button.Primary:focus {
    transition: 0.25s ease-in-out background-color,
                0.25s ease-in-out color;
    color: var(--col-text-inverse);
    background-color: var(--col-interactive-01);
  }

  .dropdown-menu_itemlist button.Primary {
    transition: 0.25s ease-in-out background-color,
                0.25s ease-in-out color;
    color: var(--col-interactive-01);
  }

  .dropdown-menu_itemlist button:focus,
  .dropdown-menu_itemlist button:hover,
  .dropdown-menu_itemlist button:active {
    color: var(--col-interactive-01);
    transition: 0.25s ease-in background-color,
                0.25s ease-in color;
    background-color: var(--col-ui-shade-10);
    outline: none;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--col-text-ancillary);
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Exploder 10-11 */
    color: var(--col-text-ancillary);
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color:var(--col-text-ancillary);
  }

  @media screen and (max-width: 600px) {
    .dropdown-menu_itemlist ::slotted(button) {
      padding: var(--spacing-lg);
    }
  }

.dropdown-menu_toggler::after {
    position: absolute;
    margin: 0 var(--spacing-xs);
    right: 0;
    top: var(--spacing-2xs);
    content: "";
    height: var(--spacing-xs);
    width: var(--spacing-xs);
    border: 2px solid transparent;
    border-bottom: 2px solid var(--col-interactive-01);
    border-right: 2px solid var(--col-interactive-01);
    transform: rotateY(0deg) rotate(45deg);
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .dropdown-menu_toggler.Open::after {
    transform: rotateY(0deg) rotate(225deg);
    top: var(--spacing-sm);
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .dropdown-menu_toggler:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px var(--col-interactive-01);
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .dropdown-menu_toggler.Open {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border-bottom: none;
  }

