:root {
  --border-radius: 0px;
  --color-interface-00: var(--swatch-lime-100);
  --color-interface-10: var(--swatch-lime-90);
  --color-interface-20: var(--swatch-lime-80);
  --color-interface-30: var(--swatch-lime-70);
  --color-interface-40: var(--swatch-lime-60);
  --color-interface-50: var(--swatch-lime-50);
  --color-interface-60: var(--swatch-lime-40);
  --color-interface-70: var(--swatch-lime-30);
  --color-interface-80: var(--swatch-lime-20);
  --color-interface-90: var(--swatch-lime-10);
  --color-interface-100: var(--swatch-lime-00);
  --color-primary-00: var(--swatch-lime-100);
  --color-primary-10: var(--swatch-lime-90);
  --color-primary-20: var(--swatch-lime-80);
  --color-primary-30: var(--swatch-lime-70);
  --color-primary-40: var(--swatch-lime-60);
  --color-primary-50: var(--swatch-lime-50);
  --color-primary-60: var(--swatch-lime-40);
  --color-primary-70: var(--swatch-lime-30);
  --color-primary-80: var(--swatch-lime-20);
  --color-primary-90: var(--swatch-lime-10);
  --color-primary-100: var(--swatch-lime-100);
}

html, body, #root {
  height: 100%;
  min-height: 100%;
  background-color: var(--col-background);
}

.app {
  display: flex;
  flex: 1 0 auto;
  height: 100%;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
}

.app_body {
  flex: 1 0 auto;
  width: 100%;
  max-width: 1200px;
  background-color: var(--col-backdrop);
}

.app_footer {
  flex-shrink: 0;
  text-align: center;
  padding: var(--spacing-lg);
  background-color: var(--theme-interface-10);
}

* {
  margin: 0;
  padding: 0;
  color: var(--col-text);
  box-sizing: border-box;
}

div, p, span, a, rt, rp, dfn, abbr, q, cite, em, time, var,
samp, i, b, sub, sup, small, strong, mark, ruby, ins, del,
bdi, bdo, s, kbd, wbr {
  font-family: Tahoma,Verdana,Segoe,sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: Tahoma,Verdana,Segoe,sans-serif;
}

.app_header {
  background-color: var(--theme-interface-10);
  color: var(--col-text-inverse);
  padding: var(--spacing-md);
  width: 100%;
  display: flex;
  justify-content: center;
}

.app_header-inner {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  max-width: 1680px;
  align-content: space-between;
}

.app_header-masthead {
  margin-inline-end: var(--spacing-md);
}

.app_header-login {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}

.app {
  flex: 1 0 auto;
}

.app_body {
  background-color: var(--col-background);
  color: red;
  max-width: 75rem;
  margin: 0 auto;
  padding:  var(--spacing-lg) var(--spacing-md);
}

.formfield {
  margin-bottom: var(--spacing-xs);
}

.checkbox_control {
  display: flex;
  height: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  visibility: hidden;
  width: 0;
}

fieldset {
  border: none;
  padding-bottom:  var(--spacing-md);
}

legend {
  font-weight: 700;
}

.checkbox_control + label::before,
.checkbox_control + label::after {
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  content: '';
  display: inline-block;
  left: calc(-1 * var(--spacing-md));
  position: absolute;
}

.checkbox_control + label::before {
  border: 2px solid var(--col-interactive-01-border);
  width: var(--spacing-md);
  height: var(--spacing-md);
}

.checkbox_control + label::after {
  width: 0;
  transform: rotate(-50deg);
}

.checkbox_control:checked + label::after {
  border-color: var(--col-interactive-01-label);
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  height: var(--spacing-3xs);
  margin-inline-start: var(--spacing-3xs);
  margin-bottom:var(--spacing-3xs);
  width: var(--spacing-sm);
  transition: all 0.125s ease-out;
}

.checkbox_control:checked + label::before {
  background-color: var(--col-interactive);
  border-color: var(--col-interactive);
}

.checkbox_control:disabled + label {
  cursor: not-allowed;
}

.checkbox_control:disabled + label::before {
  border-color:  var(--col-disabled);
}
.checkbox_control:disabled:checked + label::before {
  background-color: var(--col-disabled);
}

.checkbox_label {
  font-weight: 400;
  position: relative;
  cursor: pointer;
  display: flex;
  margin: var(--spacing-3xs) var(--spacing-xs) var(--spacing-3xs) var(--spacing-md);
  padding-left: var(--spacing-sm);
  align-items: center;
}

.checkbox_label:active,
.checkbox_label:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.checkbox_helptext {
  color: var(--col-text-ancillary);
  margin-inline-start: var(--spacing-md);
  padding-left: var(--spacing-sm);
  font-size: var(--font-size-sm);
}

/**
 * Validation errors. If you write correct, accessible html, these styles will not be applied.
 */
input[id=undefined] + label::before {
  border-color: red !important;
}

label.checkbox_label:not([for]) {
  color: red !important;
}

.indent {
  margin-inline-start: 2rem;
  overflow: hidden;
}
.expanded {
  max-height: 100vh;
  height: auto;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
.collapsed {
  max-height: 0;
  transition: all 0.5s ease-out;
}

.comiclist_entry {
  padding: var(--spacing-md);
  list-style: none;
  display: flex;
  flex-direction: row;
  border: 2px solid var(--col-interactive-01-border);
  border-radius: var(--border-radius);
}

.comiclist_details {
  padding:  var(--spacing-sm);
  display: flex;
  flex-direction: column;
}

.comiclist_title {
  font-weight: 700;
}

.comiclist_description {
  color: var(--col-text-ancillary);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
}

.upload_preview {
  width: 25%;
}

.comicTiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  width: 8rem;
}

.comicTiles_thumbnail {
  border: 1px solid var(--col-background-30);
  width: 100%;
}

.comic-page_image {
  max-width: 100%;
}
.comic-page_navigation {
  display: flex;
  justify-content: center;
}
.comic-page_navigation a {
  padding: var(--spacing-md);
}

.Disabled {
  pointer-events: none;
  color: var(--col-disabled);
  cursor: not-allowed;
}

.Blurred {
   filter: blur(0.5rem);
  -webkit-filter: blur(0.5rem);
}

.Error {
  color: var(--col-error);
}

.signup_server-message {
  display: block;
  padding-top: var(--spacing-sm);
  text-align: center;
}

.button {
  border-width: 1px;
}

.form-field {
  margin-bottom: var(--spacing-sm);
}